tb_logs/
data/

*.npy

*.jpg

*.pkl

*.pyc

resNet/resNet110_trainedFromScratch

alexNet/best_net

alexNet/grid_lr_epoch

J1/

J2/

twoLayersIDS/

twoLayersPaper/
HDNN/tb_logs/neural ode/version_0/events.out.tfevents.1655155190.dl.883639.0
